@page "/"

<div id="day-background"></div>
<div id="night-background"></div>

<div id="starcontainer">
    <div id="small-stars" class="stars"></div>
    <div id="medium-stars" class="stars"></div>
    <div id="big-stars" class="stars"></div>
</div>

<section id="opening-section">
    <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 270" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(254, 229, 173, 1)" offset="0%"></stop><stop stop-color="rgba(250, 202, 102, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,81L26.7,81C53.3,81,107,81,160,103.5C213.3,126,267,171,320,184.5C373.3,198,427,180,480,148.5C533.3,117,587,72,640,76.5C693.3,81,747,135,800,153C853.3,171,907,153,960,135C1013.3,117,1067,99,1120,117C1173.3,135,1227,189,1280,198C1333.3,207,1387,171,1440,135C1493.3,99,1547,63,1600,67.5C1653.3,72,1707,117,1760,139.5C1813.3,162,1867,162,1920,148.5C1973.3,135,2027,108,2080,121.5C2133.3,135,2187,189,2240,207C2293.3,225,2347,207,2400,166.5C2453.3,126,2507,63,2560,49.5C2613.3,36,2667,72,2720,99C2773.3,126,2827,144,2880,148.5C2933.3,153,2987,144,3040,144C3093.3,144,3147,153,3200,148.5C3253.3,144,3307,126,3360,121.5C3413.3,117,3467,126,3520,112.5C3573.3,99,3627,63,3680,81C3733.3,99,3787,171,3813,207L3840,243L3840,270L3813.3,270C3786.7,270,3733,270,3680,270C3626.7,270,3573,270,3520,270C3466.7,270,3413,270,3360,270C3306.7,270,3253,270,3200,270C3146.7,270,3093,270,3040,270C2986.7,270,2933,270,2880,270C2826.7,270,2773,270,2720,270C2666.7,270,2613,270,2560,270C2506.7,270,2453,270,2400,270C2346.7,270,2293,270,2240,270C2186.7,270,2133,270,2080,270C2026.7,270,1973,270,1920,270C1866.7,270,1813,270,1760,270C1706.7,270,1653,270,1600,270C1546.7,270,1493,270,1440,270C1386.7,270,1333,270,1280,270C1226.7,270,1173,270,1120,270C1066.7,270,1013,270,960,270C906.7,270,853,270,800,270C746.7,270,693,270,640,270C586.7,270,533,270,480,270C426.7,270,373,270,320,270C266.7,270,213,270,160,270C106.7,270,53,270,27,270L0,270Z"></path></svg>

    <!-- SVG from SVG Repo https://www.svgrepo.com/svg/14536/sun used under CC0 LIcense -->
    <img id="sun" class="curve" src="img/sun-svgrepo-com.svg" alt="Praise the Sun!">

    <!-- SVG from SVG Repo https://www.svgrepo.com/svg/7880/moon used under CC0 License -->
    <img id="moon" class="curve" src="img/moon-svgrepo-com.svg" alt="Fear the moon!">
    <div id="text-container" class="container">
        <h1 class="display-2">
            Lewis
            <br />
            Allen
        </h1>
        <hr />
        <div class="sub">
            <h2>.NET Developer</h2>
        </div>
        <p class="lead">Currently working on cloud based payroll software at <a href="https://www.rsmuk.com/products/pay-manager" target="_blank">RSM UK</a>.</p>

        <div class="icons">
            <a href="https://github.com/Lewis-Allen" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/lewisrallen/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
        </div>
    </div>
</section>
<!--<section id="stuff-section">
</section>
-->