@page "/"

<div id="day-background"></div>
<div id="night-background"></div>

<div id="star-container">
    <div id="small-stars" class="stars"></div>
    <div id="medium-stars" class="stars"></div>
    <div id="big-stars" class="stars"></div>
</div>

<section id="opening-section">
    <svg id="wave" viewBox="0 0 1440 300" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,400 C 0,400 0,200 0,200 C 150.93333333333334,189.06666666666666 301.8666666666667,178.13333333333335 458,186 C 614.1333333333333,193.86666666666665 775.4666666666667,220.53333333333333 940,226 C 1104.5333333333333,231.46666666666667 1272.2666666666667,215.73333333333335 1440,200 C 1440,200 1440,400 1440,400 Z" stroke="none" stroke-width="0" class="transition-all duration-300 ease-in-out delay-150"></path></svg>

    <!-- SVG from SVG Repo https://www.svgrepo.com/svg/14536/sun used under CC0 LIcense -->
    <img id="sun" class="curve" src="img/sun-svgrepo-com.svg" alt="Praise the Sun!">

    <!-- SVG from SVG Repo https://www.svgrepo.com/svg/7880/moon used under CC0 License -->
    <img id="moon" class="curve" src="img/moon-svgrepo-com.svg" alt="Fear the moon!">
    <div id="text-container" class="container">
        <h1 class="display-2">
            Lewis
            <br />
            Allen
        </h1>
        <hr />
        <div class="sub">
            <h2>.NET Developer</h2>
        </div>
        <p class="lead">Currently working on cloud based payroll software at <a href="https://www.rsmuk.com/products/pay-manager" target="_blank">RSM UK</a>.</p>

        <div class="icons">
            <a href="https://github.com/Lewis-Allen" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/lewisrallen/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
        </div>
    </div>
</section>
<!--<section id="stuff-section">
</section>
-->